body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* globals */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.3rem;
  color: wheat;
  background: gray;
  padding: 0.4rem 0.9rem;
  border: 1px solid gray;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin-top: 7rem;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: wheat;
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: black;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-link a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.nav-links a:hover {
  color: green;
}
.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

/* Hero */
.defaultHero,
.roomsHero {
  min-height: 100vh;
  display: flex;
  align-self: center;
  justify-content: center;
  background: url("./images/2.jpg") center/cover no-repeat;
}
.roomsHero {
  min-height: 65vh;
  background-image: url("./images/hero.jpeg");
}

/* Banner */
.banner {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: normal;
  margin-top: 10%;
  height: 170px;
  width: 40%;
}
.banner h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

.banner ul {
  list-style-type: none;
}
.banner a {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
}
.banner a:active {
  color: wheat;
}
.banner a:hover {
  color: green;
}

/* Title  */
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}
.section-title h4 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background-color: green;
}
/*  Partners */

.partners {
  /* background-color: #140d11; */
  text-align: center;
  margin-bottom: 30px;
  /* border: 1px solid black; */
}
.partner {
  padding: 2rem 0;
  margin: 10px;
}
.partners-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}
.partners span {
  display: inline-block;
  font-size: 2.5rem;
  color: red;
  /* margin-bottom: 1.5rem; */
  /* letter-spacing: 2rem; */
}

/* featured rooms */

.featured-rooms {
  padding: 2rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */

/* room */
.room {
  transition: var(--mainTransition);
  /* height: 500px; */
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container ul {
  list-style-type: none;
}

.img-container img {
  width: 100%;
  height: 220px;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(245, 237, 237);
  padding: 0 0.2rem 0.2rem;
  border-bottom-right-radius: 1rem;
  /* font-size: 0.5rem; */
  /* text-align: center; */
  /* transition: var(--mainTransition); */
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  /* letter-spacing: var(--mainSpacing); */
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: gray;
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  margin-top: -4.5%;
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/

/* Footer  */

.footer {
  /* width: 100vw; */
  margin-top: 3rem 0rem 0rem 3rem;
  background-color: #1a1a1a;
}
.footerHeaders {
  color: #fff;
}
.copyrights {
  color: #fff;
  font-weight: 200;
}
.p {
  color: #a9a9a9;
}
.copyright {
  background-color: #000000;
  text-align: center;
  padding: 15px;
}
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 1rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/

/* Contact form   */
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  width: 23%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 2px;
  box-shadow: 5px 10px 10px #555;
}
.form-wrapper2 {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 2px;
  box-shadow: 1px 1px 5px #555;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}
form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-wrapper h1 {
  text-align: center;
  width: 100%;
}

input,
.message {
  padding: 15px 10px;
  border-radius: 1px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}
input.error {
  border: 1px solid red;
}
.errorMessage {
  color: red;
  font-size: 0.75em;
  display: inline-flex;
}
.title,
.name,
.email,
.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
.status {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 48%;
  margin-top: 1%;
}
.types {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 48%;
  margin-left: 4%;
  margin-top: 1%;
}
.roomNo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 30%;
  margin-left: 5%;
  margin-top: 1%;
}
.propertyPrice {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 30%;
  margin-left: 5%;
  margin-top: 1%;
}
.areas {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 30%;
  margin-top: 1%;
}
.locationHeader {
  width: 100%;
}
.send {
  width: 20%;
  font-size: 1em;
  color: #fff;
  background-color: #90c92b;
  margin-top: 3%;
  margin-bottom: 4%;
}
.submit {
  margin-left: 2%;
  font-size: 15px;
  margin-top: 4.5%;
}
.sideNotes {
  background-color: #fff3cd;
  padding: 5px;
  width: 20%;
  font-weight: 300;
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
}
